body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .box {
      padding: 15px;
      border: 1px solid hsl(66, 87%, 48%);
      border-radius: 8px;
      margin-bottom: 30px;
      max-width: 700px;
      margin: auto;
      background-image: url('trang.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    textarea, input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      font-size: 14px;
    }
    label {
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }
    .copy-btn, button {
      margin-top: 10px;
      padding: 6px 12px;
      font-size: 14px;
      cursor: pointer;
    }
    a {
      display: block;
      margin-bottom: 5px;
      word-break: break-word;
      font-size: 12px;
    }
    .result-box {
      max-height: 300px;
      overflow-y: auto;
      padding: 10px;
      border: 1px solid hsl(261, 88%, 50%);
      margin-top: 10px;
      background-color: hsl(251, 87%, 50%);
      border-radius: 6px;
    }
    h2{
        color: hsl(66, 87%, 48%);
        text-align: center;
        text-shadow: 5px 5px 10px #19ea0eec;
    }
    label{
        color: hwb(42 6% 10%);
        text-shadow: 5px 5px 10px hsla(70, 89%, 49%, 0.925);
    }
    button{
        background-color: hwb(307 6% 10%);
        color: white;
        border: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    button:hover{
        background-color: lab(71.81% -71.56 68.81);
        box-shadow: 5px 5px 10px #e908c8e6;
    }